*.moc
*.obj
*.o
*.app
*.user
*.rej

moc_*.cpp
ui_*.h
qrc_*.cpp

*.pyc

*-e

.qmake.cache
.confqmake.cache
.license.accepted

kdreports/configure.sh
kdreports/configure.bat

kdreports/bin/
kdreports/lib/
kdreports/include/
kdreports/unittests/ElementCopying/ElementCopying
kdreports/unittests/Headers/Headers
kdreports/unittests/InThread/InThread
kdreports/unittests/ModelInfo/ModelInfo
kdreports/unittests/PageLayout/PageLayout
kdreports/unittests/SpreadsheetMode/SpreadsheetMode
kdreports/unittests/TableBreakingLogic/TableBreakingLogic
kdreports/unittests/TextDocument/TextDocument
kdreports/unittests/XmlParser/XmlParser
kdreports/ReportEditor/unittests/DocumentModification/DocumentModification
kdreports/ReportEditor/unittests/IdAssociation/IdAssociation
kdreports/ReportEditor/unittests/ModelAssociation/ModelAssociation
kdreports/ReportEditor/unittests/ModelInfo/ModelInfo
kdreports/ReportEditor/unittests/Paragraph/Paragraph
kdreports/ReportEditor/unittests/Property/Property
kdreports/ReportEditor/unittests/ReportObjectXmlHandler/ReportObjectXmlHandler
kdreports/ReportEditor/unittests/ReportTextEditor/ReportTextEditor
kdreports/ReportEditor/unittests/Table/Table
kdreports/ReportEditor/unittests/XmlSaving/XmlSaving

Makefile*

internal/tests/qttests/qttests
