*.moc
*.obj
*.o
*.app
*.user
*.rej

moc_*.cpp
ui_*.h
qrc_*.cpp

*.pyc

*-e

.qmake.cache
.confqmake.cache
.license.accepted

CPackConfig.cmake

configure.sh
configure.bat

bin/
lib/
include/
unittests/ElementCopying/ElementCopying
unittests/Headers/Headers
unittests/InThread/InThread
unittests/ModelInfo/ModelInfo
unittests/PageLayout/PageLayout
unittests/SpreadsheetMode/SpreadsheetMode
unittests/TableBreakingLogic/TableBreakingLogic
unittests/TextDocument/TextDocument
unittests/XmlParser/XmlParser
ReportEditor/unittests/DocumentModification/DocumentModification
ReportEditor/unittests/IdAssociation/IdAssociation
ReportEditor/unittests/ModelAssociation/ModelAssociation
ReportEditor/unittests/ModelInfo/ModelInfo
ReportEditor/unittests/Paragraph/Paragraph
ReportEditor/unittests/Property/Property
ReportEditor/unittests/ReportObjectXmlHandler/ReportObjectXmlHandler
ReportEditor/unittests/ReportTextEditor/ReportTextEditor
ReportEditor/unittests/Table/Table
ReportEditor/unittests/XmlSaving/XmlSaving

Makefile*

internal/tests/qttests/qttests
